<!-- Main Menu area End-->
    <!-- Start Status area -->
	{% extends 'base_user.html' %}
	{% block title %}Home{% endblock %}
	{% block content %}

<!-- Wizard area Start-->
    <div class="wizard-area" style="margin-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wizard-wrap-int">
                        <div class="wizard-hd">
                            <h2>Cyberbullying</h2>
                            <p>berdasarkan informasi yang dikutip dari <a href="https://www.unicef.org/">Unicef</a>, Cyberbullying diartikan sebagai bentuk bullying/perundungan dengan menggunakan teknologi digital.Hal ini dapat terjadi di media sosial, platform chatting, platform bermain game, dan ponsel. Cyberbullying merupakan perilaku berulang yang ditujukan untuk menakuti, membuat marah, atau mempermalukan mereka yang menjadi sasaran</p>
                        </div>
                        <div id="rootwizard">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="container-pro wizard-cts-st">
                                        <ul>
                                            <li><a href="#tab1" data-toggle="tab">Sejarah</a></li>
                                            <li><a href="#tab2" data-toggle="tab">Bentuk</a></li>
                                            <li><a href="#tab3" data-toggle="tab">Dampak</a></li>
                                            <li><a href="#tab4" data-toggle="tab">Hukum (Indonesia)</a></li>
<!--                                            <li><a href="#tab5" data-toggle="tab">Penelitian Terkait</a></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane wizard-ctn" id="tab1">
                                    <p>Dilihat dari sudut pandang ilmu psikologi, cyber bullying termasuk bagian dari aksi bullying. Ditinjau dari sudut pandangan ilmu hukum, cyber bullying adalah kejahatan yang dilakukan secara sengaja dalam bentuk fitnah, cemooh, kata-kata kasar, pelecehan, ancaman, dan hinaan.</p>
<p>Bentuk kejahatan ini bermula dari perilaku merendahkan martabat dan mengintimidasi orang lain melalui dunia maya. Tujuannya agar target mengalami gangguan psikis. Model bullying terbaru ini justru lebih berbahaya karena dapat dilakukan siapa saja, kapan saja, dan dimana saja..</p>
                                </div>
                                <div class="tab-pane wizard-ctn" id="tab2">
                                    <p>ada enam bentuk cyberbullying yang dijelaskan sebagai berikut:</p>
                                    <p>1. Flaming (Terbakar)
Tindakan seseorang mengirimkan pesan teks yang berisi kata-kata frontal dan penuh amarah. Secara umum, tindakan flaming berupa provokasi, penghinaan, mengejek, sehingga menyinggung orang lain..</p>
                                    <p>2. Harassment (Gangguan)
Tindakan seseorang mengirim pesan-pesan berisi gangguan melalui sms, e-mail, teks jejaring sosial dengan intensitas terus-menerus. Pelaku harassment biasanya sering menulis komentar terhadap dengan tujuan menimbulkan kegelisahan. Selain itu, harassment juga mengandung kata-kata hasutan agar orang lain melakukan hal yang sama.</p>
                                    <p>3. Denigration (Pencemaran Nama Baik)
Tindakan dilakukan sengaja dan sadar mengumbar keburukan orang lain melalui internet. Hingga akhirnya merusak nama baik dan reputasi orang yang dibicarakan pada jejaring sosial tersebut.</p>
                                    <p>4. Cyberstalking
Tindakan memata-matai, mengganggu, dan pencemaran nama baik terhadap seseorang yang dilakukan secara intens. Dampaknya, orang yang menjadi korban merasakan ketakutan besar dan depresi.</p>
                                    <p>5. Impersonation (Peniruan)
Tindakan berpura-pura atau menyamar menjadi orang lain untuk melancarkan aksinya mengirimkan pesan-pesan dan status tidak baik. Biasanya terjadi pada jejaring sosial seperti instagram dan twitter menggunakan akun palsu.</p>
                                    <p>6. Outing and Trickery
Outing merupakan tindakan menyebarkan rahasia orang lain. Outing berupa foto-foto pribadi seseorang yang setelah disebarkan menimbulkan rasa malu atau depresi. Sementara itu, trickery berupa tipu daya yang dilakukan dengan membujuk orang lain untuk memperoleh rahasia maupun foto pribadi dari calon korban. Dalam banyak kasus, pelaku outing biasanya juga melakukan trickery.</p>
                                </div>
                                <div class="tab-pane wizard-ctn" id="tab3">
                                    <p>Dampak cyber bullying berbeda dari kejahatan lain dan sangat berbahaya, yakni:</p>
                                    <p>
1. Menarik Diri Dari Lingkungan Sosial
Kondisi psikologis korban cenderung mengalami kecemasan dan ketakutan. Mereka tidak ragu menarik diri dari lingkungan sosial. Contohnya, banyak kasus bullying di jejaring sosial yang dialami anak sekolah. Akhirnya membuat sang anak depresi, mengisolasi diri karena malu, dan memilih putus sekolah..</p>
                                    <p class="wizard-mg-ctn">
                                        2. Perasaan Dikucilkan Lingkungan
Cyber bullying memang terjadi melalui internet atau jejaring sosial. Namun, orang-orang yang berada di lingkungan nyata sekeliling korban dapat melihatnya. Terlebih lagi berbagai komentar jahat yang ditujukan kepada korban.
                                        Hal ini membuat orang sekitar turut menyerang korban dalam kehidupan nyata. Akhirnya, korban cyber bullying dikucilkan oleh masyarakat dan mendapat perlakuan kurang menyenangkan.</p>
<p>3. Kesehatan Fisik dan Mental Terganggu
Bullying yang dilakukan secara terus menerus melalui jejaring sosial oleh orang dikenal maupun tidak dikenal akan mendatangkan stress. Ujung-ujungnya perasaan memendam depresi, rasa cemas, dan kehilangan kepercayaan diri mendatangkan gangguan post traumatic stress disorder (PTSD).
    Tentunya pengaruh PTSD tidak mengenal usia. Bahkan pada orang dewasa efeknya stimuli sistem kekebalan tubuh menjadi terganggu.</p>
                                    <p>4. Depresi dan Ingin Bunuh Diri
Korban cyber bullying sering kali merasakan marah, takut, terluka, tidak berdaya, malu, putus asa, dan terisolasi. Apabila kondisi ini terjadi berulang-ulang dan semakin parah akan menyebabkan perasaan ingin mengakhiri hidupnya..</p>
                                </div>
                                <div class="tab-pane wizard-ctn" id="tab5">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus sapien, cursus et egestas at, volutpat sed dolor. Aliquam sollicitudin dui ac euismod hendrerit. Phasellus quis lobortis dolor. Sed massa massa, sagittis nec fermentum eu, volutpat non lectus. Nullam vitae tristique nunc. Aenean vel placerat augue. Aliquam pharetra mauris neque, sitan amet egestas risus semper non. Proin egestas egestas ex sed gravida. Suspendisse commodo nisl sit amet risus volutpat volutpat. Phasellus vitae turpis a elit tinciduntansan ornare. Praesent non libero quis libero scelerisque eleifend. Ut eleifend laoreet vulputate.</p>
                                    <p class="wizard-mg-ctn">Duis eu eros vitae risus sollicitudin blandit in non nisi. Phasellus rhoncus ullamcorper pretium. Etiam et viverra neque, aliquam imperdiet velit. Nam a scelerisque justo, id tristique diam. Aenean ut vestibulum velit,
                                        vel ornare augue. Nullam eu est malesuada, vehicula ex in, maximus massa. Sed sit amet massa venenatis, tristique orci sed, eleifend arcu.</p>
                                </div>
                                <div class="tab-pane wizard-ctn" id="tab4">
                                    <p>Menurut hukum positif, cyber bullying termasuk dalam kategori cyber crime. Adapun ciri-ciri khusus dari kejahatan ini, antara lain:</p>
                                    <p>1.Tidak ada kekerasan fisik (non-violence)</p>
                                    <p>2.Antara pelaku dan korban sangat sedikit melibatkan kontak fisik (minimize of physical contact)</p>
                                    <p>3.Memanfaatkan teknologi dan peralatan tertentu (equipment)</p>
                                    <p>4.Memanfaatkan jaringan telekomunikasi, media dan informatika secara global.</p>
<p>Apabila terjadi permasalahan terkait cyber bullying di Indonesia, maka penyelesaiannya menggunakan Undang-Undang Nomor 19 Tahun 2016 jo Undang-Undang Nomor 11 Tahun 2008 tentang Informasi dan Transaksi Elektronik. Penanganan kasusnya juga melibatkan anggota kepolisian dan upaya hukum ditempuh melalui jalur pengadilan negeri. <a href="https://www.dslalawfirm.com/id/cyberbullying/">Sumber</a></p>
                                </div>
                                <div class="wizard-action-pro">
                                    <ul class="wizard-nav-ac">
                                        <li><a class="button-first a-prevent" href="#"><i class="notika-icon notika-more-button"></i></a></li>
                                        <li><a class="button-previous a-prevent" href="#"><i class="notika-icon notika-back"></i></a></li>
                                        <li><a class="button-next a-prevent" href="#"><i class="notika-icon notika-next-pro"></i></a></li>
                                        <li><a class="button-last a-prevent" href="#"><i class="notika-icon notika-more-button"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wizard area End-->

	{% endblock %}